<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form th:object="${category}" method="post">
        <div>
            <label th:for="*{name}">Cheese Type:
                <input th:field="*{name}" />
            </label>
        </div>
        <div th:errors="*{name}"></div>
        <input type="submit" value="Add Type" />
    </form>

</body>
</html>